<!DOCTYPE html>

<html>
<head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <title><%=siteInfo ? siteInfo.title : "Me."%> - 编辑文章</title>
        <meta name="description" content='编辑文章,<%=siteInfo ? siteInfo.description : "Me."%>'>
        <link rel="shortcut icon" href="<%=siteInfo.siteStaticURL%>/images/favicon.ico" type="image/x-icon" />
		<link rel="stylesheet" href="<%=siteInfo.siteStaticURL%>/stylesheets/admin.css">
        <link rel="stylesheet" href="<%=siteInfo.siteStaticURL%>/stylesheets/ui.toast.css">

        <script type="text/javascript" src="<%=siteInfo.siteStaticURL%>/javascripts/jquery-1.10.2.min.js"></script>
		<script type="text/javascript" src="<%=siteInfo.siteStaticURL%>/ueditor/ueditor.config.js"></script>
		<script type="text/javascript" src="<%=siteInfo.siteStaticURL%>/ueditor/editor_api.js"></script>
		<script type="text/javascript" src="<%=siteInfo.siteStaticURL%>/DatePicker/WdatePicker.js"></script>
        <script type="text/javascript" src="<%=siteInfo.siteStaticURL%>/javascripts/post.js"></script>
        <script type="text/javascript" src="<%=siteInfo.siteStaticURL%>/javascripts/ui.js"></script>
</head>
<body>
        <div>
            <% include menu.html %>

            <div class="main-content">
                <!-------- post content --------->
                <div class="ad-container">

                    <div class="ad-editor">
                        <h2>编辑文章</h2>
                        <form id="articleForm" action="/articleForm" method="POST">
                            <div class="content">
                                <input class="tilinput" id="title" placeholder="请输入标题" type="text" name="title"/>
                                </br>
                                <textarea class="tilinput" id="descript" placeholder="描述" type="text" name="descript"></textarea>
                                <textarea class="myeditor" name="mytext" id="myEditor"></textarea>
                            </div>

                            <div class="right-box">
                                <div class="rbox">
                                    <div class="b-title">发布</div>
                                    <div class="b-content">
                                        <div class="post-box">
                                            <div>
                                                <input type="radio" value="1" name="limit" checked="checked"/>
                                                <label for="limit">公开</label>
                                            </div>
                                            <div>
                                                <input type="radio" value="2" name="limit"/>
                                                <label for="limit">密码</label>
                                                <div id="articlepwdinput" style="display:none">
                                                    <input type="text" id="articlepwd" name="articlepwd" placeholder="请输入密码"/>
                                                </div>
                                            </div>
                                            <div>
                                                <input type="radio" value="3" name="limit"/>
                                                <label for="limit">私人</label>
                                            </div>
                                            <div>
                                                <label for="sortby">排序:</label>
                                                <input id="sortBy" type="text" value="255" name="sortBy" size="4"/>
                                            </div>
                                            <div>
                                                <div>发布时间:</div>
                                                <input id="datetime" name="postTime" class="Wdate" style="width:100%" onClick="WdatePicker({startDate:'%y-%M-01',dateFmt:'yyyy-MM-dd HH:mm:ss'})" type="text" />
                                            </div>
                                        </div>
                                        <input id="submitBtn" type="button" value="提交"/>
                                    </div>
                                </div>

                                <div class="rbox">
                                    <div class="b-title">分类</div>
                                    <div id="type-box" class="b-content">

                                    </div>
                                    <div>
                                        <div class="addtypebtn" id="showBtn">添加新类别</div>
                                        <div id="addType" class="addtype" style="display:none">
                                            <input type="text" name="newType" id="newType"/>
                                            <input type="button" id="addTypeBtn" value="添加"/>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </form>
                    </div>
                </div>

                <script type="text/javascript">
                    var editor = new UE.ui.Editor();
                    editor.render("myEditor");
                    //1.2.4以后可以使用一下代码实例化编辑器
                    //UE.getEditor('myEditor')
                </script>
        <!------------- post content end --------------->
            </div>
        </div>
</body>
</html>