<!DOCTYPE html>

<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
		<title><%=siteInfo ? siteInfo.title : "Me."%> - 归档</title>
		<meta name="description" content='<%=siteInfo ? siteInfo.description : "Me."%> archived 归档'>
        <meta name="keywords" content='<%=siteInfo ? siteInfo.description : "Me."%> archived 归档' />
		<meta name="viewport" content="width=device-width,initial-scale=1">
		<link rel="stylesheet" href="<%=siteInfo.siteStaticURL%>/stylesheets/style.css">
        <link rel="stylesheet" href="<%=siteInfo.siteStaticURL%>/stylesheets/ui.archived.css">
        <link rel="stylesheet" href="<%=siteInfo.siteStaticURL%>/stylesheets/commonui.css">
        <link rel="stylesheet" href="<%=siteInfo.siteStaticURL%>/stylesheets/ui.toast.css">
        <link rel="stylesheet" href="<%=siteInfo.siteStaticURL%>/stylesheets/webrobot.min.css">
        <script type="text/javascript" src="<%=siteInfo.siteStaticURL%>/javascripts/jquery-1.10.2.min.js"></script>
        <script type="text/javascript" src="<%=siteInfo.siteStaticURL%>/javascripts/ui.js"></script>

		<script>
            // active menu
            o = $;
            initMenu = function(){
                var prev;
                var clickSelect;

                var headings = o('h3').map(function(i, el){
                    var type = null;
                    if(el.className && el.className.indexOf("a-year")!=-1)
                        type="one";
                    return {
                        top: o(el).offset().top,
                        id: el.id,
                        type:type
                    }
                });

                function closest() {
                    var h;
                    var top = o(window).scrollTop();
                    var i = headings.length;
                    while (i--) {
                        h = headings[i];
                        if (top >= h.top) return h;
                    }
                }

                o(document).scroll(function(){
                    var h = closest();
                    if (!h) return;

                    if(clickSelect){
                        clickSelect.parent().removeClass('active');
                        clickSelect = null;
                    }
                    if (prev) {
                        var className = prev.attr('class');
                        if(className && className.indexOf("one")!=-1){
                            prev.parent().removeClass('active');
                        }else{
                            prev.removeClass('active');
                            prev.parent().parent().parent().removeClass('active');
                        }
                    }
                    if(h.type=="one"){
                        var a = o('a[href="#' + h.id + '"]');
                        a.parent().addClass('active');
                    }else{
                        var a = o('a[href="#' + h.id + '"]');
                        a.addClass('active');
                        a.parent().parent().parent().addClass('active');
                    }
                    prev = a;
                })
                $(".one").click(function(){
                    if(clickSelect){
                        clickSelect.parent().removeClass('active');
                    }
                    clickSelect = $(this);
                    $(this).parent().addClass('active');
                });
            }
            o(initMenu);
            window.onresize=initMenu;

		</script>

	</head>
	
	<body>
        <% include common/logo2.html %>
		<div id="container" class="container">
            <ul id="tMenu">
                <%
                var chineseMonth=["一","二","三","四","五","六","七","八","九","十","十一","十二"];
                var key = [];
                if(dates){
                    for(var i in dates){
                        key.push(i);
                    }
                    for(var j=(key.length-1);j>=0;j--){
                        var y = key[j];
                        var m = dates[y];
                        m.sort(function(e,g){return -(parseInt(e)-parseInt(g));});
                %>
                <li>
                    <a class="one" href="#<%=y%>"><%=y%>年</a>
                    <ul>
                <%
                        for(var k=0,l=m.length;k<l;k++){
                        %>
                        <li><a href="#<%=y+'-'+m[k]%>"><%=chineseMonth[m[k]-1]%>月</a></li>
                        <%
                        }
                %>
                    </ul>
                </li>
                <%
                    }
                }
                %>

            </ul>

            <div id="tContent">
                <%

                if(articles){

                    for(var i=(key.length-1);i>=0;i--){
                        var monthContent = articles[key[i]];
                        var monthKey = [];
                        for(var mk in monthContent){
                            monthKey.push(mk);
                        }
                        for(var j=monthKey.length-1;j>=0;j--){
                            var oneMonth = monthContent[monthKey[j]];
                            if(j==(monthKey.length-1)){
                            %>
                    <h3 class="a-year" id="<%=key[i]%>"><%=key[i]+'年 '%></h3>
                            <%
                            }
                %>
                    <h3 id="<%=key[i]+'-'+monthKey[j]%>"><%=key[i]+'年 '+chineseMonth[monthKey[j]-1]+'月('+oneMonth.length+'篇)'%></h3>
                    <div class="a-list">
                <%
                            for(var k=(oneMonth.length-1);k>=0;k--){
                                var article = oneMonth[k];
                %>
                        <div class="a-li">
                            <div class="a-post">
                                <a href="<%=siteInfo.siteURL%>/a/<%=article['_id']%>"  target="_blank" title="<%=article.title%>">
                                    <div class="a-title"><%=article.title%></div>
                                    <div class="a-time"><%=article.date.day%></div>
                                </a>
                            </div>
                        </div>

                <%
                            }
                %>
                    </div>
                <%
                        }
                    }
                }else{
                %>
                <h3>暂无内容</h3>
                <%
                }
                %>
                <!--
                 <div id="tContent">
                    <h3>2014 - 4</h3>
                    <div class="a-list">
                        <div class="a-li">
                            <div class="a-post"></div>
                        </div>

                        <div class="a-li">
                            <div class="a-post"></div>
                        </div>

                        <div class="a-li">
                            <div class="a-post"></div>
                        </div>

                        <div class="a-li">
                            <div class="a-post"></div>
                        </div>
                        <div class="a-li">
                            <div class="a-post"></div>
                        </div>
                        <div class="a-li">
                            <div class="a-post"></div>
                        </div>
                        <div class="a-li">
                            <div class="a-post"></div>
                        </div>
                        <div class="a-li">
                            <div class="a-post"></div>
                        </div>
                        <div class="a-li">
                            <div class="a-post"></div>
                        </div>
                        <div class="a-li">
                            <div class="a-post"></div>
                        </div>
                        <div class="a-li">
                            <div class="a-post"></div>
                        </div>
                    </div>
                </div>
                -->

            </div>
			
		</div>
        <% include common/footer.html %>
	</body>

</html>