<!DOCTYPE html>

<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
		<title><%=articleInfo ? articleInfo.title:"" %> - <%=siteInfo ? siteInfo.title : "Me."%></title>
		<meta name="description" content='<%=siteInfo ? siteInfo.description : "Me."%>,<%=articleInfo ? articleInfo.title:"" %>,<%=articleInfo ? articleInfo.descript?articleInfo.descript:"":"" %>'>
        <meta name="keywords" content='<%=siteInfo ? siteInfo.description : "Me."%>,<%=articleInfo ? articleInfo.title:"" %> ' />
		<meta name="viewport" content="width=device-width,initial-scale=1">
        <link rel="shortcut icon" href="<%=siteInfo.siteStaticURL%>/images/favicon.ico" type="image/x-icon" />
		<link rel="stylesheet" href="<%=siteInfo.siteStaticURL%>/stylesheets/style.css">
        <link rel="stylesheet" href="<%=siteInfo.siteStaticURL%>/stylesheets/commonui.css">
        <link rel="stylesheet" href="<%=siteInfo.siteStaticURL%>/stylesheets/ui.toast.css">
        <link rel="stylesheet" href="<%=siteInfo.siteStaticURL%>/ueditor/third-party/SyntaxHighlighter/shCoreDefault.css" type="text/css" />
	</head>
	
	<body>
		<% include common/header.html %>
        <div id="container" class="container">
            <input type="hidden" id="articleId" value="<%=articleId%>"/>
        </div>
        <% include common/comment.html %>
        <% include common/footer.html %>

        <script type="text/javascript" src="<%=siteInfo.siteStaticURL%>/javascripts/jquery-1.10.2.min.js"></script>
        <script type="text/javascript" src="<%=siteInfo.siteStaticURL%>/javascripts/ui.js"></script>
        <script type="text/javascript" src="<%=siteInfo.siteStaticURL%>/ueditor/third-party/SyntaxHighlighter/shCore.js"></script>
        <script>
            $(document).ready(function(){
                var loading = {
                    show:function(){
                        $("body").addClass("app-loading");
                    },
                    disable:function(){
                        $("body").removeClass("app-loading");
                    }
                };
                var articleId = $('#articleId').val();
                var article;
                var getArticle = function(articleId){
                    loading.show();
                    $.ajax({
                        url:"<%=siteInfo.siteURL%>/getArticle",
                        type:"GET",
                        data:{id: articleId},
                        error:function(err){
                            loading.disable();
                        },
                        success:function(data){
                            if(data.err){
                                loading.disable();
                                haveErr();
                                return;
                            }
                            article = data.article;
                            doLoadArticles(article);
                            loading.disable();
                        }
                    });
                }
                var doLoadArticles = function(article){
                    if(!article){
                        return;
                    }
                    var container = $("#container");
                    container.fadeOut(function(){
                        container.html("");
                        var tagTemplate = "";
                        var tagNames = [];
                        if(article.type && article.type.length>0){
                            for(var j = 0, len2 = article.type.length; j < len2; j++){
                                var aType = article.type[j];
                                var tmp = "<a class='tag' href='<%=siteInfo.siteURL%>/tag/"+aType._id+"'>"+aType.name+"</a>"
                                tagTemplate += tmp;
                                tagNames.push(aType.name);
                            }
                        }

                        var articleTemplate =
                                "<div class='article'>"+
                                        "<div class='title'><h2>"+article.title+"</h2></div>"+
                                        "<div class='subtitle'>"+new Date(article.create_date).toLocaleDateString()+"</div>"+

                                        "<div class='content'>"+article.content+"</div>"+
                                        "<div class='taglist'>"+tagTemplate+"</div>"+
                                        "</div>";

                        container.append(articleTemplate);
                        SyntaxHighlighter.highlight();
                        container.fadeIn();

                    });
                }
                getArticle(articleId);
                var haveErr = function(){
                    var toast=new Toast({text:"出错啦!",time:1.5});
                    toast.show();
                }
            })
        </script>
	</body>

</html>