<!DOCTYPE html>

<html>
	<head>
        <meta property="wb:webmaster" content="3e7a5fb51b50810a" />
        <meta name="viewport" content="width=device-width,height=device-height,inital-scale=1.0,maximum-scale=1.0,user-scalable=no" />
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
		<title><%=siteInfo ? siteInfo.title : "Me."%> - 博客</title>
		<meta name="description" content='<%=siteInfo ? siteInfo.description : "Me."%>'/>
		<meta name="viewport" content="width=device-width,initial-scale=1"/>
        <link rel="shortcut icon" href="<%=siteInfo.siteStaticURL%>/images/favicon.ico" type="image/x-icon" />
		<link rel="stylesheet" href="<%=siteInfo.siteStaticURL%>/stylesheets/style.css">
        <link rel="stylesheet" href="<%=siteInfo.siteStaticURL%>/stylesheets/commonui.css">
        <link rel="stylesheet" href="<%=siteInfo.siteStaticURL%>/stylesheets/ui.toast.css">
        <link rel="stylesheet" href="<%=siteInfo.siteStaticURL%>/ueditor/third-party/SyntaxHighlighter/shCoreDefault.css" type="text/css" />
        <script type="text/javascript" src="<%=siteInfo.siteStaticURL%>/javascripts/jquery-1.10.2.min.js"></script>
	</head>
	
	<body id="ibody">
        <% include common/header.html %>
        <% include common/imageshow.html %>
		<div id="container" class="container">
			
		</div>
		<div class="pager">
			<span class="prepage">< Pre page</span>
			<span class="nowpage"></span>
			<span class="nextpage">Next page ></span>
		</div>

        <% include common/footer.html %>

        <script type="text/javascript" src="<%=siteInfo.siteStaticURL%>/javascripts/ui.js"></script>
        <script type="text/javascript" src="<%=siteInfo.siteStaticURL%>/ueditor/third-party/SyntaxHighlighter/shCore.js"></script>
        <script>
            $(document).ready(function(){
                var pageData = null,
                        articles = null;

                //var loading = new Loading(document.getElementById("container"));
                var loading = {
                    show:function(){
                        $("body").addClass("app-loading");
                    },
                    disable:function(){
                        $("body").removeClass("app-loading");
                    }
                };
                var getArticles = function(page,tag){
                    if(loading)loading.show();
                    $.ajax({
                        url:"<%=siteInfo.siteURL%>/getArticles?fields=1",
                        type:"GET",
                        data:{p:page,tag:tag},
                        error:function(err){
                            if(loading)loading.disable();
                        },
                        success:function(data){
                            if(data.err){
                                if(loading)loading.disable();
                                haveErr();
                                return;
                            }
                            pageData = data.pageData;
                            articles = data.articles;
                            doLoadArticles(articles);
                            initPager();
                            if(loading)loading.disable();
                        }
                    });
                }

                var haveErr = function(){
                    var toast=new Toast({text:"出错啦!",time:1.5});
                    toast.show();
                }

                var doLoadArticles = function(articles){
                    var container = $("#container");
                    if(!articles || articles.length<=0){
                        container.html("<div style='text-align:center'>暂无内容</div>").fadeIn();
                        return;
                    }

                    container.fadeOut(function(){
                        container.html("");
                        for(var i = 0, len = articles.length;i < len; i++){
                            var article = articles[i];
                            var tagTemplate = "";
                            if(article.type && article.type.length>0){
                                for(var j = 0, len2 = article.type.length; j < len2; j++){
                                    var aType = article.type[j];
                                    var tmp = "<a class='tag' href='<%=siteInfo.siteURL%>/tag/"+aType._id+"'>"+aType.name+"</a>"
                                    tagTemplate += tmp;
                                }
                            }

                            var articleTemplate =
                                    "<div class='article'>"+
                                            "<div class='title'><h2><a href='<%=siteInfo.siteURL%>/a/"+article._id+"'>"+article.title+"</a></h2></div>"+
                                            "<div class='subtitle'>"+new Date(article.create_date).toLocaleDateString()+"</div>"+
                                            "<div class='content'>"+(article.descript?article.descript:"")+"</div>"+
                                            "<div class='taglist'>"+tagTemplate+"</div>"+

                                            "</div>";

                            container.append(articleTemplate);
                            SyntaxHighlighter.highlight();
                            container.fadeIn();
                        }
                    });
                }

                // ---------- pager ----------
                var initPager = function(){

                    $(".nowpage").html(pageData.nowPage);
                    if(pageData.nowPage !== 1){
                        $(".prepage").fadeIn();
                    }else{
                        $(".prepage").fadeOut();
                    }
                    if(pageData.nowPage !== pageData.pageCount){
                        $(".nextpage").fadeIn();
                    }else{
                        $(".nextpage").fadeOut();
                    }
                    $(".nowpage").fadeIn();
                }
                $(".prepage").click(function(){
                    if(pageData.nowPage > 1){
                        getArticles(pageData.nowPage - 1);
                        if(history.pushState){
                            history.pushState(null,null,location.href.split("?")[0] + "?p="+(pageData.nowPage - 1));
                        }
                    }
                });
                $(".nextpage").click(function(){
                    if(pageData.nowPage < pageData.pageCount){
                        getArticles(pageData.nowPage + 1);
                        if(history.pushState){
                            history.pushState(null,null,location.href.split("?")[0] + "?p="+(pageData.nowPage + 1));
                        }
                    }
                });
                // ---------- pager ----------


                // --------- history ---------
                if (history.pushState) {
                    window.addEventListener("popstate", function() {
                        getHistory();
                    });
                    if(window.chrome!=null)
                        getHistory();
                }else{
                    getArticles(1);
                }
                function getHistory(){
                    var p = 1;
                    var query = location.href.split("?")[1];
                    if (typeof query != "undefined") {
                        var pars = query.split("&");

                        for(var ii in pars){
                            var k = pars[ii].split("=")[0];
                            var v = pars[ii].split("=")[1];
                            if(k == "p" &&  !isNaN(v)){
                                p=v;
                            }
                        }
                    }
                    getArticles(p);
                }
            });
        </script>
	</body>

</html>