<!DOCTYPE html>

<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
		<title><%=siteInfo ? siteInfo.title : "Me."%></title>
		<meta name="description" content='<%=siteInfo ? siteInfo.description : "Me."%>'>
		<meta name="viewport" content="width=device-width,initial-scale=1">
        <link rel="shortcut icon" href="<%=siteInfo.siteStaticURL%>/images/favicon.ico" type="image/x-icon" />
		<link rel="stylesheet" href="<%=siteInfo.siteStaticURL%>/stylesheets/style.css">
		<style>
			
		</style>
	</head>
	
	<body>
        <% include common/header.html %>
		<div class="container">
			
			<div class="main">

                <form action="<%=siteInfo.siteURL%>/signup" method="POST">
                    username:<input type="text" name="loginName"/>
                    password:<input type="text" name="password"/>
                    repeat:<input type="text" name="re-password"/>
                    name:<input type="text" name="name"/>
                    email:<input type="text" name="email"/>
                    <input type="submit" value="注册"/>
                </form>

			</div>
		</div>
        <% include common/footer.html %>
	</body>

</html>