<!DOCTYPE html>

<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
		<title><%=siteInfo ? siteInfo.title : "Me."%></title>
		<meta name="description" content='<%=siteInfo ? siteInfo.description : "Me."%>'>
		<meta name="viewport" content="width=device-width,initial-scale=1">
        <link rel="shortcut icon" href="<%=siteInfo.siteStaticURL%>/images/favicon.ico" type="image/x-icon" />
		<link rel="stylesheet" href="<%=siteInfo.siteStaticURL%>/stylesheets/style.css"/>
		<script type="text/javascript" src="<%=siteInfo.siteStaticURL%>/javascripts/jquery-1.10.2.min.js"></script>


	</head>
	
	<body id="ibody">

    <input type="hidden" id="url" value="<%= siteInfo.siteStaticURL %>">
    <input type="hidden" id="domain" value="<%= domain %>">
    <input type="hidden" id="uptoken_url" value="<%= uptoken_url %>">

    <a class="btn btn-default btn-lg " id="pickfiles" href="#" >
        <i class="glyphicon glyphicon-plus"></i>
        <sapn>选择文件</sapn>
    </a>

    <script type="text/javascript" src="<%=siteInfo.siteStaticURL%>/javascripts/qn/plupload/plupload.full.min.js"></script>
    <script type="text/javascript" src="<%=siteInfo.siteStaticURL%>/javascripts/qn/plupload/i18n/zh_CN.js"></script>
    <script type="text/javascript" src="<%=siteInfo.siteStaticURL%>/javascripts/qn/qiniu.js"></script>
    <script>

    $(function() {
        var uploader = Qiniu.uploader({
            runtimes: 'html5,flash,html4',
            browse_button: 'pickfiles',
            container: 'ibody',
            drop_element: 'ibody',
            max_file_size: '100mb',
            flash_swf_url:$('#url').val()+ '/javascripts/qn/plupload/Moxie.swf',
            dragdrop: true,
            chunk_size: '4mb',
            uptoken_url: $('#uptoken_url').val(),
            domain: $('#domain').val(),
            auto_start: true,
            init: {
                'FilesAdded': function(up, files) {
                    console.log('FilesAdded');
                    plupload.each(files, function(file) {

                    });
                },
                'BeforeUpload': function(up, file) {
                    console.log('BeforeUpload');
                },
                'UploadProgress': function(up, file) {
                    console.log('UploadProgress');
                },
                'UploadComplete': function() {
                    console.log('UploadComplete');
                },
                'FileUploaded': function(up, file, info) {
                    console.log('FileUploaded');
                },
                'Error': function(up, err, errTip) {

                },
                'Key': function(up, file) {
                    var k = file.name +"@"+ new Date().toISOString()+Math.floor(Math.random()*99999);
                    var key =k;
                    return key
                }
            }
        });

        uploader.bind('FileUploaded', function() {
            console.log('hello man,a file is uploaded');
        });

    });
    </script>
	</body>

</html>