@font-face {
    font-family: 'WebSymbolsRegular';
    src: url('websymbols/websymbols-regular-webfont.eot');
    src: url('websymbols/websymbols-regular-webfont.eot?#iefix') format('embedded-opentype'),
    url('websymbols/websymbols-regular-webfont.woff') format('woff'),
    url('websymbols/websymbols-regular-webfont.ttf') format('truetype'),
    url('websymbols/websymbols-regular-webfont.svg#WebSymbolsRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}
body{
    margin:0;
    padding:0;
    width:100%;
    height:100%;
    /*font: 14px/1.22 verdana,arial,sans-serif;*/
    /*font:14px/1.22 Microsoft YaHei,Tahoma,Arial;*/
    font-family:'Microsoft YaHei', 'Georgia';
    -webkit-font-smoothing: antialiased;
    color: #666665;
}
::selection {
    background: #8db3e2;
    text-shadow: none;
    color:white;
}
header{
    font-family: Microsoft YaHei,Tahoma,Arial;
    width:100%;
    z-index:999;
}
header nav{
    box-sizing: border-box;
    padding-left:40px;
    width:100%;
   /* text-align:center;*/
    list-style: none;
    height:40px;
    line-height:40px;
    font-size:14px;
}
header nav a{
    padding:0 5px;
    color: #3d3d3d;
    text-decoration: none;
}
.container{
    position:relative;
    padding:60px 20px;
    min-height:700px;
}
.comment{
    margin-left:auto;
    margin-right:auto;
    max-width:700px;
    padding:20px;
}
.article{
    position: relative;
    padding-top:50px;
    padding-bottom:20px;
    margin-left:auto;
    margin-right:auto;
    max-width:700px;
    border-bottom: #EBF2F6 1px solid;
}
.article:after {
    display: block;
    content: "";
    width: 7px;
    height: 7px;
    border: #E7EEF2 1px solid;
    position: absolute;
    bottom: -5px;
    left: 50%;
    margin-left: -5px;
    background: white;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    border-radius: 100%;
    box-shadow: white 0 0 0 5px;
}
.article .title{
    width: 100%;
    white-space: normal;
    word-break: break-all;
    margin-bottom:5px;
    line-height:34px;
    font-size:32px;
    font-weight:500;
    color: #666665;
}
.article .subtitle{
    margin-top: 10px;
    margin-bottom: 10px;
    color:#b3b3b1;
    font-size:14px;
}
.article .title h2{
    margin: 0;
    padding: 0;
    font-size: 30px;
    line-height:40px;
    font-weight: 700;
}
.article .title a{
    width:100%;
    white-space:normal;
    word-break:break-all;
    text-decoration: none;
    color: #444;
}
.article .content{
    width: 100%;
    white-space: normal;
    word-break: break-all;
    margin-bottom: 40px;
    font-family: 'Microsoft YaHei';
}
.article .taglist{

}
.article .taglist .tag{
	font-family: 'Microsoft YaHei';
    position:relative;
    text-decoration: none;
    margin-right:10px;
    padding:0 5px 0 15px;
    color: #666665;
    box-sizing:border-box;
    font-size:14px;
}
.article .taglist .tag:hover{
    color: #00b3ff;
}
.article .taglist .tag:before{
    content:",";
    font-family: 'WebSymbolsRegular', cursive;
    position:absolute;
    top:4px;
    left:0;
    font-size:8px;
}
.article hr {
    width:100%;
    margin-bottom:5px;
    border: 0;
    border-bottom: 1px solid #DDD;
    background: none;
    font-size: 0;
    line-height: 0;
    display: block;
}

.pager{
    text-align:center;
}
.pager .nowpage{
    color: #666665;
    display:none;
    padding-left:5px;
    padding-right:5px;
    border-radius:3px;
    background:#eee;
}
.pager .prepage{
    cursor: pointer;
    display: none;
}
.pager .nextpage{
    cursor:pointer;
    display: none;
}

.copyright{
    margin:40px 0;
    padding: 0 20px;
    color: #ccc;
    text-align: center;
    font-family: 'Hiragino Sans GB','Microsoft YaHei','微软雅黑',Helvetica,Arial,sans-serif;
    font-size: 13px;
}
footer a{
    text-decoration: none;
    color: #00b3ff;
}
/* ------------ image show style ------------ */
.show-bg-img{
    width:100%;
    height:400px;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position-x:40%;
    background-position-y:20%;
}
/* ------------ image show style end ------------ */