@font-face {
    font-family: 'WebSymbolsRegular';
    src: url('websymbols/websymbols-regular-webfont.eot');
    src: url('websymbols/websymbols-regular-webfont.eot?#iefix') format('embedded-opentype'),
    url('websymbols/websymbols-regular-webfont.woff') format('woff'),
    url('websymbols/websymbols-regular-webfont.ttf') format('truetype'),
    url('websymbols/websymbols-regular-webfont.svg#WebSymbolsRegular') format('svg');
}
@font-face {
    font-family: 'socialicon';
    src: url('socialicon/iconfont.eot'); /* IE9*/
    src: url('socialicon/iconfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('socialicon/iconfont.woff') format('woff'), /* chrome、firefox */
    url('socialicon/iconfont.ttf') format('truetype'), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
    url('socialicon/iconfont.svg#iconfont') format('svg'); /* iOS 4.1- */
}
@font-face {
    font-family:"Monoglyceride";
    src:url("monoglyceride/monog.eot?") format("eot"),
    url("monoglyceride/monog.woff") format("woff"),
    url("monoglyceride/monog.ttf") format("truetype"),
    url("monoglyceride/monog.svg#Monoglyceride") format("svg");
}
body{
    margin:0;
    padding:0;
    width:100%;
    height:100%;
    /*font: 14px/1.22 verdana,arial,sans-serif;*/
    /*font:14px/1.22 Microsoft YaHei,Tahoma,Arial;*/
    font-family:'Microsoft YaHei', 'Georgia';
    -webkit-font-smoothing: antialiased;
    color: #666665;
}
::selection {
    background: #8db3e2;
    text-shadow: none;
    color:white;
}
header{
    font-family: Microsoft YaHei,Tahoma,Arial;
    width:100%;
    z-index:999;
}
header nav{
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    padding-left:40px;
    width:100%;
   /* text-align:center;*/
    list-style: none;
    height:40px;
    line-height:40px;
    font-size:14px;
}
header nav a{
    padding:0 5px;
    color: #3d3d3d;
    text-decoration: none;
}
.container{
    position:relative;
    padding:60px 20px;
}
.comment{
    margin-left:auto;
    margin-right:auto;
    max-width:700px;
    padding:20px;
}
.article{
    position: relative;
    padding-top:50px;
    padding-bottom:20px;
    margin-left:auto;
    margin-right:auto;
    max-width:700px;
    border-bottom: #EBF2F6 1px solid;
}
.article:after {
    display: block;
    content: "";
    width: 7px;
    height: 7px;
    border: #E7EEF2 1px solid;
    position: absolute;
    bottom: -5px;
    left: 50%;
    margin-left: -5px;
    background: white;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    border-radius: 100%;
    box-shadow: white 0 0 0 5px;
}
.article .title{
    width: 100%;
    white-space: normal;
    word-break: break-all;
    margin-bottom: 5px;
    line-height: 34px;
    font-size: 32px;
    font-weight: 500;
    color: #666665;
    padding-left: 20px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    border-left: 4px solid #8db3e2;
}
.article .subtitle{
    margin-top: 10px;
    margin-bottom: 10px;
    color:#b3b3b1;
    font-size:14px;
}
.article .title h2{
    margin: 0;
    padding: 0;
    font-size: 30px;
    line-height:40px;
    font-weight: 700;
}
.article .title a{
    width:100%;
    white-space:normal;
    word-break:break-all;
    text-decoration: none;
    color: #444;
    -moz-transition:all ease-out 0.4s;
    -webkit-transition: all ease-out 0.4s;
    -o-transition: all ease-out 0.4s;
    -ms-transition: all ease-out 0.4s;
    transition: all ease-out 0.4s;
}
.article .title a:hover{
    color: #00b3ff;
    margin-left: 10px;
}
.article .content{
    width: 100%;
    white-space: normal;
    word-break: break-all;
    margin-bottom: 40px;
    font-family: 'Microsoft YaHei';
}
.article .taglist{

}
.article .taglist .tag{
    font-family: 'Microsoft YaHei';
    position:relative;
    text-decoration: none;
    margin-right:10px;
    padding:0 5px 0 17px;
    color: #666665;
    box-sizing:border-box;
    -moz-box-sizing: border-box;
    font-size:14px;
    -moz-transition:all ease-out 0.4s;
    -webkit-transition: all ease-out 0.4s;
    -o-transition: all ease-out 0.4s;
    -ms-transition: all ease-out 0.4s;
    transition: all ease-out 0.4s;
}
.article .taglist .tag:hover{
    color: #00b3ff;
}
.article .taglist .tag:before{
    content:",";
    font-family: 'WebSymbolsRegular', cursive;
    position:absolute;
    top:1px;
    left:0;
    font-size:13px;
}
.article hr{
    width:100%;
    margin-bottom:5px;
    border: 0;
    border-bottom: 1px solid #DDD;
    background: none;
    font-size: 0;
    line-height: 0;
    display: block;
}

.pager{
    text-align:center;
}
.pager .nowpage{
    color: #fff;
    display:none;
    padding-left:5px;
    padding-right:5px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius:3px;
    background:#444;
    font-size: 14px;
    box-shadow: 0 1px 1px #444;
}
.pager .prepage{
    cursor: pointer;
    display: none;
}
.pager .nextpage{
    cursor:pointer;
    display: none;
}

.copyright{
    margin-bottom: 40px;
    padding: 0 20px;
    color: #ccc;
    text-align: center;
    font-family: 'Hiragino Sans GB','Microsoft YaHei','微软雅黑',Helvetica,Arial,sans-serif;
    font-size: 13px;
}
footer a{
    text-decoration: none;
    color: #00b3ff;
}
/* ------------ image show style ------------ */
@media screen and (min-width: 801px){
    .show-bg-img{
        width:100%;
        height:400px;
        background-repeat: no-repeat;
        background-size: cover;
        background-attachment: fixed;
       /* background-position-x:40%;
        background-position-y:20%;*/
        background-position: center;
    }
}
@media screen and (min-width: 0px) and (max-width: 800px) {
    .show-bg-img{
        width:100%;
        height:260px;
        background-repeat: no-repeat;
        background-size:cover;
        background-position-x:40%;
        background-position-y:20%;
        background-position: center;
    }
}
/* ------------ image show style end ------------ */
/* --------------sociallist----------------*/
.socialicon {
    font-family:"socialicon" !important;
    font-size: 20px;
    font-style:normal;
    -webkit-font-smoothing: antialiased;
    -webkit-text-stroke-width: 0.2px;
    -moz-osx-font-smoothing: grayscale;
}

.icon-qq:before { content: "\f01c7"; }

.icon-github:before { content: "\f01ca"; }

.icon-dingyue:before { content: "\f01bc"; }

.icon-xinlangweibo:before { content: "\f01af"; }

.icon-wechat:before { content: "\e606"; }

.sociallist{
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    list-style: none;
    text-align: center;
    width:100%;
    margin-top: 40px;
    padding: 0 20px;
}
.sociallist li{
    margin-left: 10px;
    display: inline;
    position: relative;
}
.sociallist li a{
    -webkit-user-select:none;
    cursor: pointer;
    color: #d1d1d1;
    -moz-transition:all ease-out 0.4s;
    -webkit-transition: all ease-out 0.4s;
    -o-transition: all ease-out 0.4s;
    -ms-transition: all ease-out 0.4s;
    transition: all ease-out 0.4s;
}
.tip{
    z-index:999;
    display: none;
    position: absolute;
    min-width:140px;
    padding: 0 5px;
    left:-60px;
    top:-20px;
    font-style:normal;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius:3px;
    background: #444;
    color: #fff;
    font-size: 14px;
}
.tip2{
    z-index:999;
    display: none;
    position: absolute;
    left:-190px;
    top:-235px;
    width:420px;
    background: #444;
    color: #fff;
    padding: 5px 0;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
}
.tip2 span{
    display: block;
}
.tip2 img{
    width:200px;
    height: 200px;
}
.tip2 .item{
    float:left;
    margin:0 5px;
}
.sociallist li a:hover .tip{
    display: block;
}
.sociallist li a:hover .tip2{
    display: block;
}
.sociallist li a:hover{
    color: #444;
}
/* --------------sociallist end----------------*/
/* --------------logo start----------------*/
.logo{
    position: relative;
    top:-93px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    max-width: 700px;
}
.topbg{
    position: absolute;
    left:0px;
    top:0px;
    font-family:Monoglyceride;
    letter-spacing:0px;
    font-size:110px;
    color: #fff;
    text-shadow: #fff 0px 0px 18px;
}
.bottombg{
    -webkit-user-selected:none;
    position: absolute;
    left:0px;
    top:93px;
    font-family:Monoglyceride;
    font-size:110px;
    color: #000;

    height: 40px;
    line-height: 40px;
    overflow: hidden;
}
.bottombg span{
    padding:0;
    position:relative;
    top:-42px;
}
/* --------------logo end----------------*/
