#tMenu{
    font-family:  "Microsoft Yahei", "微软雅黑", Arial, STHeiti, sans-serif;
    position: fixed;
    margin: 0;
    padding: 0;
    top: 130px;
    left: 25px;
    height: 500px;
    text-align: right;
    font-size: 15px;
}
#tMenu li{
    list-style: none;
    margin-bottom:1px;
}
#tMenu li ul{
    margin: 0;
    padding: 0;
    margin-top:1px;
    display:none;
}
#tMenu > li > a {
    color:#353535;
    font-weight: bold;
    border-right: 4px solid #CCC;
}
#tMenu a {
    padding-right:10px;
    color: #259DFF;
    text-decoration: none;
    color: #CCC;
    border-right: 3px solid #CCC;
    height: 22px;
    line-height: 22px;
}
#tMenu .active .one{
    border-right: 4px solid #5C5C5C;
}
#tMenu .active ul{
    display:block;
}
#tMenu .active .active{
    border-right: 3px solid #5C5C5C;
    color: #5C5C5C;
}

#tContent{
    margin-left: 90px;
    padding-left: 15px;
    height: 100%;
}
#tContent .a-year{
    border-bottom:1px dashed #D8DADD;
}
#tContent h3{
    font-size: 16px;
    margin-left: 5px;
    padding-bottom: 8px;
    color:#5C5C5C;
    height: 26px;
    line-height: 17px;
    padding-right: 20px;
    clear: both;
    overflow: hidden;
}
#tContent .a-list{
    overflow: hidden;
    margin-bottom: 20px;
}
#tContent .a-list .a-li{
    float: left;
    margin: 3px;
}
#tContent .a-list .a-li .a-post{
    width: 120px;
    height: 120px;
    background: rgba(216,218,221,0.8);
    position: relative;
    cursor: pointer;
    padding: 10px;
    display: block;
    z-index: 50;
    text-decoration: none;
    overflow: hidden;
    box-shadow: 0 2px 2px #eee;
}
#tContent .a-list .a-li .a-post a{
    text-decoration: none;
    color:#5C5C5C;
    font-size: 14px;

    -moz-transition:all ease-out 0.4s;
    -webkit-transition: all ease-out 0.4s;
    -o-transition: all ease-out 0.4s;
    transition: all ease-out 0.4s;
}
#tContent .a-list .a-li .a-post a:hover{
    color:#00b3ff;
}
#tContent .a-list .a-li .a-post .a-time{
    position:absolute;
    bottom:10px;
    right:10px;
    font-weight: normal;
    font-size: 13px;
}