<footer>
    <a id="top" href="#"><img src="<%=siteInfo.siteStaticURL%>/images/arrow.png"></a>
    <script>
        var _hmt = _hmt || [];
        (function() {
            var hm = document.createElement("script");
            hm.src = "//hm.baidu.com/hm.js?7a93afb5d6a356a389c2aab4cc308dab";
            var s = document.getElementsByTagName("script")[0];
            s.parentNode.insertBefore(hm, s);
        })();
    </script>
    <ul class="sociallist">
        <li>
            <a href="tencent://message/?uin==49977244" target="_blank">
                <div class="tip">通过QQ联系我</div>
                <i class="icon socialicon">&#xf01c7;</i>
            </a>
        </li>
        <li>
            <a href="https://github.com/hjpap" target="_blank">
                <div class="tip">Fork me on GitHub</div>
                <i class="icon socialicon">&#xf01ca;</i>
            </a>
        </li>
        <li>
            <a href="http://weibo.com/ricw" target="_blank">
                <div class="tip">关注我的微博</div>
                <i class="icon socialicon">&#xf01af;</i>
            </a>
        </li>
        <li>
            <a>
                <div class="tip2">
                    <div class="item">
                        <img src="/images/gongzhonghao.jpg"/>
                        <span>关注我的微信公众号</span>
                    </div>
                    <div class="item">
                        <img src="/images/gongzhonghao.jpg"/>
                        <span>关注我的微信</span>
                    </div>
                </div>
                <i class="icon socialicon">&#xe606;</i>
            </a>
        </li>
    </ul>
    <div class="copyright">© 2014 RIC WANG. POWER BY NODE.JS</div>
</footer>
<div class="loading-bar"></div>