<footer>
    <a id="top" href="#"><img src="<%=siteInfo.siteStaticURL%>/images/arrow.png"></a>
    <script>
        var _hmt = _hmt || [];
        (function() {
            var hm = document.createElement("script");
            hm.src = "//hm.baidu.com/hm.js?7a93afb5d6a356a389c2aab4cc308dab";
            var s = document.getElementsByTagName("script")[0];
            s.parentNode.insertBefore(hm, s);
        })();
    </script>

    <div class="copyright">© 2014 RIC WANG. POWER BY NODE.JS</div>
</footer>
<div class="loading-bar"></div>