<footer>
    <a id="top" href="#"><img src="<%=siteInfo.siteStaticURL%>/images/arrow.png"></a>
    <script>
        var _hmt = _hmt || [];
        (function() {
            var hm = document.createElement("script");
            hm.src = "//hm.baidu.com/hm.js?7a93afb5d6a356a389c2aab4cc308dab";
            var s = document.getElementsByTagName("script")[0];
            s.parentNode.insertBefore(hm, s);
        })();
    </script>

    <div class="por">Power by <a href="www.nodejs.org">Node.js</a> , <a href="mongodb.org">MongoDB</a> | Host By <a href="https://www.budgetvm.com/account/aff.php?aff=1970">BudgetVM</a></div>
    <div>Copying right @ wei.</div>
</footer>