<div id="showimg" class="show-bg-img" style="background-image: url('/images/bg.jpg');">

</div>
<script>
    $(function(){
        var bgImg = $("#showimg");
        var pos = bgImg.offset().top +  bgImg.height();
        window.onscroll = function(){
            var sTop = $(document).scrollTop();
            var x = pos - sTop;
            if(x>0){
                var blur = 7- x/66;
            }
            if(blur>6)
                blur = 6;
            if(blur<1)
                blur = 0;
            console.log(blur);
            bgImg.css("-webkit-filter","blur("+blur+"px)");
        }
    });
</script>
