<div class="logo2">
    <div class="topbg2">
        <span>&#79;&#104;<span class="robothost" id="robothost"></span>&#114;&#105;&#99;</span>
    </div>
    <script type="text/javascript" src="<%=siteInfo.siteStaticURL%>/javascripts/webrobot.min.js"></script>
    <script type="text/javascript" src="<%=siteInfo.siteStaticURL%>/javascripts/myrobert.js"></script>
    <ul class="sociallist nav" style="position: absolute;width: auto;left: 220px;top: 45px;z-index: 999;">
        <li>
            <a href="<%=siteInfo.siteURL%>">博客</a>
        </li>
        <li>
            <a href="<%=siteInfo.siteURL%>/archived">归档</a>
        </li>
        <li>
            <a href="<%=siteInfo.siteURL%>/tag">标签</a>
        </li>
        <li>
            <a href="<%=siteInfo.siteURL%>/resume">Resume</a>
        </li>
    </ul>
</div>